// .features {
//   position: relative;
// }

// .features__content {
//   width: 70rem;
//   padding-block: 8rem;
// }
// .features__img {
//   width: 100%;
//   height: 90rem;
// }

// .features__overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.2);
// }

// .features__title {
//   color: white;
//   font-size: 4rem;
//   margin-bottom: 1.5rem;
// }
// .features__sub {
//   color: rgb(203, 201, 201);
//   font-size: 2rem;
//   margin-bottom: 5rem;
// }

// .features__diagram {
//   margin-bottom: 5rem;
// }
// .features__diagram-items {
//   display: flex;
//   justify-content: space-between;
//   border-radius: 2.5rem;
//   background-color: rgb(109, 101, 101);
//   margin-bottom: 2.5rem;
//   padding: 1rem;
//   box-shadow: 0 3px 6px white;
// }
// .features__diagram-item {
//   color: white;
//   background-color: var(--color1);
//   border-radius: 2rem;
//   padding: 1rem;
// }
// .features__diagram-item-persent {
//   color: white;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .features__button-block {
//   display: flex;
// }
// .features__button {
//   text-transform: uppercase;
//   color: black;
//   background-color: white;
//   padding: 2rem 2rem;
//   border-radius: 4rem;
//   margin-right: 0.5rem;
//   font-size: 1.5rem;
//   cursor: pointer;
// }
// .features__button .fa-angles-right {
//   color: var(--color1);
// }
// .features__button-text {
//   color: white;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-left: 1.5rem;
// }
.features {
  position: relative;

  &__content {
    width: 70rem;
    padding-block: 8rem;
  }

  &__img {
    width: 100%;
    height: 90rem;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__title {
    color: white;
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }

  &__sub {
    color: rgb(203, 201, 201);
    font-size: 2rem;
    margin-bottom: 5rem;
  }

  &__diagram {
    margin-bottom: 5rem;

    &-items {
      display: flex;
      justify-content: space-between;
      border-radius: 2.5rem;
      background-color: rgb(109, 101, 101);
      margin-bottom: 2.5rem;
      padding: 1rem;
      box-shadow: 0 3px 6px white;
    }

    &-item {
      color: white;
      background-color: var(--color1);
      border-radius: 2rem;
      padding: 1rem;
    }

    &-item-persent {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__button-block {
    display: flex;
  }

  &__button {
    text-transform: uppercase;
    color: black;
    background-color: white;
    padding: 2rem 2rem;
    border-radius: 4rem;
    margin-right: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;

    .fa-angles-right {
      color: var(--color1);
    }
  }

  &__button-text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
  }
}
@media (max-width: 768px) {
  .features__content {
    width: 80%;
    padding-inline: 4rem;
  }
}
