*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --color1: #116fd4;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.full-size {
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
