// .menu {
//   display: flex;
//   list-style: none;
// }

// .menu-link {
//   font-size: 1.3rem;
//   text-decoration: none;
//   color: white;
// }

// .menu__item {
//   padding-block: 1rem;
//   padding-inline: 2rem;
//   border-right: 1px solid white;
// }

// .menu__item:first-child {
//   border-left: 1px solid white;
// }

// .menu__bars {
//   font-size: 1.5rem;
//   color: white;
//   padding-block: 1rem;
//   display: none;
// }

.menu {
  display: flex;
  list-style: none;

  &__item {
    padding-block: 1rem;
    padding-inline: 2rem;
    border-right: 1px solid white;

    &:first-child {
      border-left: 1px solid white;
    }
  }

  &__bars {
    font-size: 1.5rem;
    color: white;
    padding-block: 1rem;
    display: none;
  }
}

.menu-link {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
    transform: scale(0);
    visibility: hidden;
    transform-origin: 0 0;
    transition: all 0.4s;
    background-color: var(--color1);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__bars {
    display: block;
  }
  .fa-bars {
    display: block;
  }
  .fa-xmark {
    display: none;
  }
  body.mobile-active .menu {
    transform: scale(1);
    overflow: auto;
    visibility: visible;
  }
  body.mobile-active {
    overflow: hidden;
  }
  body.mobile-active .fa-bars {
    display: none;
  }
  body.mobile-active .fa-xmark {
    display: block;
    position: fixed;
    top: 3rem;
    right: 3rem;
    z-index: 500;
  }
  .menu__item {
    border-right: none;
    padding-block: 1;
  }
  .menu__item:first-child {
    border-left: none;
  }

  .menu-link {
    font-size: 2.5rem;
  }
}
